@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@media screen and (max-width: 700px){ html,body {min-width:800px} }



body {
    /* background-image: linear-gradient(-20deg, #3e6aac, #00a2ff); */
    background-color: #efefef;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: #ffc000;
  }

  @-webkit-keyframes fadeinout {
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    50% { opacity: 1; }
  }

  p {

    font-family: 'Shrikhand', serif;
    font-size: 50px;
    color: #ff5100;
    align-items: center;
    -webkit-animation: fadeinout 2s linear forwards infinite;
    animation: fadeinout 2s linear forwards infinite;
    opacity: 0;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #fff,
    0 0 150px #fff;
    letter-spacing: 5px;
    z-index: 50;
  }

  span {
    position: relative;
    left: -340px;
    top: 50px;
  }

  img.covid {
    opacity: 0.5;
  }
  div.console {
    position: relative;
    left: 120px;
    top: 10px;
    z-index: 1;
  }

  div.spinner {
    position: relative;
    left: 140px;
    top: -255px;
    z-index: 2;
  }

container {
    display: flex;
    justify-content: center;

}

#spinner {
    width:100%;
    text-align:center;
}

ul#spin {
	min-width: 696px;
	list-style: none;	}
	ul#spin li {
		display: inline;
    }
    
.playAgain-button {
    visibility: hidden;
}

li.digit {
  margin-right: 15px;  
}


button.betBtn {
    border: none;
    background-color: transparent;
    font-family: Helvetica;
    padding: 0;
    cursor: pointer;
    background-color: #ffc000;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 34px;
    text-align: center;
    line-height: 1.1;
    width: 90px;
    margin-bottom: 5px;
    position: relative;
    left: 175px;
    top: -245px;
    z-index: 5;
  }

  #betBtn:hover
  {
    background-color: #ff0000;
  }

  button.spinBtn {
    border: none;
    background-color: transparent;
    font-family: Helvetica;
    padding: 0;
    cursor: pointer;
    background-color: #ffc000;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 9ch;
    min-height: 34px;
    text-align: center;
    line-height: 1.1;
    width: 90px;
    margin-bottom: 5px;
    background-image: linear-gradient(rgb(247, 148, 0), rgb(194, 103, 0));
    background-size: 100% 200%;
    transition: background-position .1s;
    position: relative;
    left: 277px;
    top: -284px;
    z-index: 8;
  }

  
  #spinBtn:hover
  {
    background-position: 0 -50%;
  }

  

  button.stopBtn {
    border: none;
    background-color: transparent;
    font-family: Helvetica;
    padding: 0;
    cursor: pointer;
    background-color: #ffc000;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 34px;
    text-align: center;
    line-height: 1.1;
    width: 90px;
    margin-bottom: 5px;
    position: relative;
    left: 380px;
    top: -323px;
    z-index: 8;
  }

  #stopBtn:hover
  {
    background-color: #ff0000;
  }