@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


body {
    background-image: linear-gradient(-20deg, #cccccc, #ff0000);
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: #ffc000;
  }

  @-webkit-keyframes fadeinout {
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    50% { opacity: 1; }
  }

  p {

    font-family: 'Shrikhand', serif;
    font-size: 90px;
    color: #ff5100;
    align-items: center;
    -webkit-animation: fadeinout 2s linear forwards infinite;
    animation: fadeinout 2s linear forwards infinite;
    opacity: 0;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 90px #fff,
    0 0 100px #fff,
    0 0 150px #fff;
    letter-spacing: 5px;
    z-index: 50;
  }

  span {
    position: relative;
    left: -570px;
    top: 100px;
  }

  img.covid {
    opacity: 0.5;
  }


container {
    display: flex;
    justify-content: center;

}

#spinner {
    width:100%;
    text-align:center;
}

ul#spin {
	min-width: 696px;
	list-style: none;	}
	ul#spin li {
		display: inline;
    }
    
.playAgain-button {
    visibility: hidden;
}


button.betBtn {
    border: none;
    background-color: transparent;
    font-family: Helvetica;
    padding: 0;
    cursor: pointer;
    background-color: #ffc000;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    width: 200px;
    margin-bottom: 5px;
  }



  button.spinBtn {
    border: none;
    background-color: transparent;
    font-family: Helvetica;
    padding: 0;
    cursor: pointer;
    background-color: #ffc000;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    width: 200px;
    margin-bottom: 5px;
  }
  .button:hover {background-color: #3e8e41}

  

  button.stopBtn {
    border: none;
    background-color: transparent;
    font-family: Helvetica;
    padding: 0;
    cursor: pointer;
    background-color: #ffc000;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    width: 200px;
    margin-bottom: 5px;
  }

